<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.kudzu.android.ibmwatsonlivewallpaper"
      android:versionCode="2" android:versionName="2.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <service
            android:label="@string/app_name" android:icon="@drawable/icon" 
            android:name=".Paper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/paper" />
        </service>
        <activity
            android:label="IBM Watson Live Wallpaper Settings" android:icon="@drawable/icon" 
            android:name=".WallpaperSettings"
            android:theme="@android:style/Theme.WallpaperSettings"
            android:exported="true">
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="7" />
<uses-feature android:name="android.software.live_wallpaper" />
</manifest> 